harvester_project/harverster/harverster/__pycache__/
harvester_project/harverster/harverster/migrations
synthesis_project/synthesis/synthesis/__pycache__
synthesis_project/synthesis/synthesis/migrations